<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%- config.description %>">
    <link rel="canonical" href="<%- url %>" />
    <link rel="alternate" hreflang="<%- config.language %>" href="<%- config.url %>" />


    <title><%- config.title %></title>
    <% if (theme.rss){ %>
        <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
        <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <style>
        <%- partial('_partial/styles') %>
    </style>
</head>