
<nav id="main-nav">
    <ul class="unstyled">
        <li class="<% if(path.indexOf('cv') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'cv' %>">CV</a></li>
        <li class="<% if(path.indexOf('blog') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'blog' %>">Blog</a></li>
        <li class="<% if(path.indexOf('contact') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'contact' %>">Contact</a></li>
        <li class="logo">
            <a href="https://github.com/isebmo">
                <img src="/images/github-social-logo.svg" alt="Github" height="28px" width="28px">
            </a>
        </li>
        <li class="logo">
            <a href="https://www.linkedin.com/in/s%C3%A9bastien-mouret-0477b6113/"><img src="/images/linkedin-logo-w.svg" alt="Linkedin" width="28px"></a>
        </li>

    </ul>
</nav>
